* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------ Navbar -------*/

.navbar {
  background: #262626;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #cccccc;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Top left Name Logo */

#navbar__logo {
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #fff;
  -moz-text-fill-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 40px;
}

.navbar__links {
  color: #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding: 0 1rem;
  height: 100%;
}

.navbar__links:hover {
  color: #fff;
  border-bottom: 1px solid white;
  transition: all 0.5s ease;
}

/* Navbar small screen adaptations */

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 5px 0;
    width: 100%;
    position: absolute;
    top: -500px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 40vh;
    z-index: -1;
    background: #262626;
  }

  .navbar__menu.active {
    background: #262626;
    top: 60%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 3.8%;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*------- Typewriter --------*/

.main__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #262626;
  font-family: "Lucida Console", Courier, monospace;
}

.main__wrapper .typewriter__texts {
  margin-left: 15px;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
}
.typewriter__texts li {
  list-style: none;
  color: #fff;
  font-size: 2.8125em;
  position: relative;
  top: 0;
  animation: slide 16s steps(2) infinite;
}
@keyframes slide {
  100% {
    top: -120px;
  }
}
.typewriter__texts li span {
  position: relative;
  margin: auto;
  line-height: 50px;
}
.typewriter__texts li span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #262626;
  border-left: 2px solid #fff;
  animation: typing 8s steps(32) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

/* Small Screen Typewriter */

@media screen and (max-width: 960px) {
  .typewriter__texts li {
    font-size: 1.2em;
  }
}

/*------- Footer -------*/

.inner__footer {
  margin: 0;
  padding: 0;
  background-color: #262626;
  border-top: 1px solid #cccccc;
}

.social__links {
  display: flex;
}

.social__links ul {
  padding: 10px;
  display: flex;
  width: 300px;
  height: 80px;
  margin: auto;
}

.social__items {
  list-style: none;
  margin: auto;
}

.social__items a {
  padding: 10px 20px;
  font-size: 35px;
  color: #cccccc;
  transition: all 0.25s;
}

.social__items a:hover {
  color: #fff;
}

.outer__footer {
  padding: 10px;
  text-align: center;
  color: #cccccc;
  font-size: 1.1em;
  background-color: #262626;
}
